<a href="https://colab.research.google.com/github/heokwon/Data-Handling-for-Competiton/blob/main/Binary2Multi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
import imageio
import tifffile as tiff
from PIL import Image
import numpy as np
import seaborn as sns
import scipy.signal as sig
from scipy import misc
import matplotlib.pyplot as plt
from scipy import ndimage

In [ ]:
!gdown 1HeLtZpbcefEcsp7eSzcrpxEyCir9UBjc
!unzip 512_2_3_6_stride_dataset.zip

In [3]:
# train csv
!gdown 1CYzwew45Tuzs1w0oNbraDT4F8RoMlq1O

Downloading...
From: https://drive.google.com/uc?id=1CYzwew45Tuzs1w0oNbraDT4F8RoMlq1O
To: /content/train.csv
100% 16.4M/16.4M [00:00<00:00, 99.9MB/s]

In [4]:
data_frame = pd.read_csv('/content/train.csv')

In [24]:
## helper function
def list_ids_organ(df, o):
    list_ids = list(df.loc[df['organ']==o].id)
    return list_ids

In [6]:
# create an organ dataframe with ids only
organs = {'prostate': [],'spleen': [],'lung': [],'kidney': [],'largeintestine': []}
for organ, ids in organs.items():
    list_organ = list_ids_organ(data_frame, organ)
    ids.append(list_organ)
df_organs = pd.DataFrame.from_dict(organs, orient='index').reset_index()
df_organs.columns = ['organ', 'ids']
df_organs

            organ                                                ids
0        prostate  [10044, 10274, 10666, 10912, 10971, 1184, 1223...
1          spleen  [10392, 10610, 10703, 10992, 1123, 11448, 1164...
2            lung  [10488, 11064, 11629, 1220, 12452, 12476, 127,...
3          kidney  [10611, 11497, 1157, 12784, 13034, 13260, 1475...
4  largeintestine  [10651, 10892, 11662, 1168, 11890, 12174, 1247...

In [ ]:
# mask_map = dict(
#     kidney=1,
#     prostate=2,
#     largeintestine=3,
#     spleen=4,
#     lung=5)#add

In [ ]:
!rm -rf ./test

In [ ]:
!mkdir test

In [7]:
len(os.listdir('/content/512_2_3_6_stride_dataset/train')),len(os.listdir('/content/512_2_3_6_stride_dataset/masks'))

(11288, 11288)

In [8]:
prostate = df_organs.loc[df_organs['organ'] == 'prostate']['ids'].values[0]
spleen = df_organs.loc[df_organs['organ'] == 'spleen']['ids'].values[0]
lung = df_organs.loc[df_organs['organ'] == 'lung']['ids'].values[0]
kidney = df_organs.loc[df_organs['organ'] == 'kidney']['ids'].values[0]
largeintestine = df_organs.loc[df_organs['organ'] == 'largeintestine']['ids'].values[0]

In [9]:
r2 = [f'{i:05d}' for i in range(25)]
r3 = [f'{i:04d}' for i in range(9)]
r6 = ['000']

In [10]:
mask_src='/content/512_2_3_6_stride_dataset/masks/'

In [11]:
def creat_multi(organ,r,label):
    for ids in organ:
        for idx in r:
            try:
              multi = Image.open(mask_src+f'{ids}_{idx}.png')
              multi = np.array(multi)
              multi = np.where(multi > 0, label, 0)
              multi = Image.fromarray(multi.astype(np.uint8))
              multi.save(f'/content/512_2_3_6_stride_dataset/masks/{ids}_{idx}.png')
            except:
              pass

In [12]:
creat_multi(kidney,r2,1)
creat_multi(kidney,r3,1)
creat_multi(kidney,r6,1)

In [13]:
creat_multi(prostate,r2,2)
creat_multi(prostate,r3,2)
creat_multi(prostate,r6,2)

In [14]:
creat_multi(largeintestine,r2,3)
creat_multi(largeintestine,r3,3)
creat_multi(largeintestine,r6,3)

In [15]:
creat_multi(spleen,r2,4)
creat_multi(spleen,r3,4)
creat_multi(spleen,r6,4)

In [16]:
creat_multi(lung,r2,5)
creat_multi(lung,r3,5)
creat_multi(lung,r6,5)

In [22]:
len(os.listdir('/content/m_512_2_3_6_stride_dataset/train')),len(os.listdir('/content/m_512_2_3_6_stride_dataset/masks'))

(11288, 11288)